<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nyanya.android.traditionalt9"
    android:versionCode="4"
    android:versionName="git"
    tools:ignore="ExtraText">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />

    <uses-configuration
        android:reqFiveWayNav="true"
        android:reqHardKeyboard="true"
        android:reqKeyboardType="qwerty" />
    <uses-configuration
        android:reqFiveWayNav="true"
        android:reqHardKeyboard="true"
        android:reqKeyboardType="twelvekey" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ime_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".help"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />

        <service
            android:name=".TraditionalT9"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service android:name=".DBUpdateService" />

        <activity
            android:name=".TraditionalT9Settings"
            android:exported="true"
            android:label="@string/traditionalt9_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddWordAct"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_add_word"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>